
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="margin-left:20px; margin-right: 400px; padding-right: 400px;" routerLink="" >Banking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" style="margin-right: 20px;" routerLink="/userlogin">Login </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="margin-right: 20px;"  routerLink="/register">Register Internet Banking</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/createAccount">Create New Account</a>
      </li>
    </ul>
  </div>
</nav>
<div class = "row">
    <div class="col-6 offset-3">
    <h1 style="text-align:center;">Forgot Password</h1>
        <form #forgotpassword="ngForm">
            <div class = "form-group">
              <p><label><strong>Enter Account ID</strong></label></p>
               <p><input class="form-control"  type="number" name="accountId" placeholder="Enter Account Id" [(ngModel)]="accountId"/></p>
            </div>
           <div class = "form-group">
               <p><label><strong>OTP</strong></label></p>
               <p><input class="form-control" type="password" name="OTP" placeholder="OTP" [(ngModel)]="OTP"/></p>
            </div>
            <div class = "form-group">
               <p><label><strong>Enter new Login Password</strong></label></p>
               <p><input class="form-control" placeholder="Enter password" type="password" required name="logInPassword" [(ngModel)]="password"/></p>
            </div>
            <div class = "form-group">
               <p><label><strong>Confirm new Login Password</strong></label></p>
             <p><input class="form-control"  placeholder="Enter password" type="text"  name="rePassword" [(ngModel)]="rePassword"/></p>
            </div>

            <div class = "form-group">
                <p><label><strong>Enter new Transaction Password</strong></label></p>
                <p><input class="form-control" placeholder="Enter password" type="password" required name="transactionPassword" [(ngModel)]="transaction"/></p>
             </div>
             <div class = "form-group">
                <p><label><strong>Confirm new Transaction Password</strong></label></p>
              <p><input class="form-control"  placeholder="Enter password" type="text"  name="retransaction" [(ngModel)]="retransaction"/></p>
              </div>
                <div style="text-align: center;">
                    <button class="btn btn-success" (click)="updateLoginPassword()">Submit</button>
                </div>
            
        </form>
</div>
</div>
