
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="margin-left:20px; margin-right: 600px; padding-right: 600px;" routerLink=" " >Banking</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="btn btn-light" style="margin-right: 20px;" routerLink="/userlogin">Login </a>
      </li>
      
      <!--<li class="nav-item">
        <a class="nav-link" style="margin-right: 20px;"  routerLink="/register">Register Internet Banking</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-success"  style="margin-right: 20px;" routerLink="/createAccount">Open Savings Account</a>
      </li>-->

      <li class="nav-item">
        <a class="btn btn-primary" routerLink="/contactus">Contact Us </a>
      </li>
    </ul>
  </div>
</nav>
 <div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8 col-centered">
            <div class="maintxt">
              <a class="btn btn-outline-success" style="float: right; margin-top:25%; margin-right: 23%;" routerLink="/createAccount">Join Us→</a>
              <div id="sect1">
              </div>
            </div>
        </div>
    </div>
</div>
