#sect1{
    height: 600px;
    background-size:100px;
    background-size:cover;

}


.maintxt {
    background-image: url("../../assets/bank.png");
    min-height : 78%;
    min-width : 165%;
    background-size:100% 100%;
    background-repeat:no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-left: 0px;
    background-attachment: fixed;
}

